.cat {
  width: 80px;
  object-fit: cover;
  object-position:center ;
  border-radius: 100px;
  vertical-align: middle;
}
.tweet {
  font-family: Arial;
  font-size: 19px;
  width: 300px;
  margin-left: 5px; 
  border: none;
  vertical-align: middle;
}
.tweet-button {
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(73, 118, 214);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  cursor: pointer;
  vertical-align: middle;
}